{% load static %}
<nav>
    <a href="{% url 'index' %}"><img class="logo" src="{% static 'imgs/logo.svg' %}"></a>
    <ul>
        {% if user.is_authenticated %}
            <li>Welcome <a href="#">{{ user.name }}</a></li>
            <li><a href="{% url 'connections:search' %}">Search</a></li>
            <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:register_property_owner_user' %}">Register Property User</a></li>
        {% endif %}

    </ul>
</nav>