{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>


    <section class="works">
        <div class="white">
            <div class="artCont grey">
                <p>Please log in</p>
                <form method="POST" style="padding: 1.5em;" action="{% url 'accounts:login' %}"
                      class="pure-form pure-form-aligned">
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ request.GET.next }}"/>
                    <div class="pure-control-group">
                        <label for="username">Username: </label>
                        <input class="pure-input-1-2" id="username" type="text" name="username"
                               placeholder="Username">
                    </div>

                    <div class="pure-control-group" style="margin-bottom: 1em;">
                        <label for="password">Password: </label>
                        <input class="pure-input-1-2" id="password" type="password" name="password"
                               placeholder="Password">
                    </div>

                    <input class="orangeButton xlButton" type="submit" value="Log In">
                </form>

            </div>
        </div>
    </section>

{% endblock content %}