{% extends 'base.html' %}

{% block content %}
    <div class="center">
        <section class="loginWrap">
            <p>Owner Sign Up</p>
            <form action="{% url 'accounts:register_property_owner_user' %}" method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'accounts/partials/_register_common.html' %}
                <input class="orangeBtn" type="submit">
            </form>
            <span>Already have an account? <a href="{% url 'accounts:login' %}">log in here</a></span>
        </section>
    </div>

{% endblock content %}