@charset "UTF-8";
@font-face {
  font-family: symbol;
  src: url(../font/symbols.woff); }
* {
  font-family: 'Roboto', sans-serif; }

body, html {
  height: 100%;
  background: #f3f3f3; }

ul {
  list-style: none;
  padding: 0; }

header, .reviews {
  width: 85%;
  margin: auto;
  padding: 20px;
  background: #fff;
  max-width: 1700px; }

a {
  text-decoration: none;
  color: #000; }

input:focus {
  outline: none; }

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset; }

.center {
  height: calc(100% - 7em);
  display: flex;
  justify-content: center;
  align-items: center; }
  .center span {
    color: #7f7f7f; }
    .center span a {
      color: #e39959; }
  .center form {
    width: 95%;
    margin: 0 auto; }
    .center form input {
      width: 100%;
      margin: 10px 0;
      border: 0;
      font-size: 1.1em; }
      .center form input:not([type=submit]) {
        border-bottom: solid 2px #f3f3f3; }
      .center form input.orangeBtn {
        border-bottom: solid #cd7c37;
        width: 40%;
        margin: 5px auto; }
  .center section {
    max-width: 600px;
    box-shadow: 0 0 2px #dfdfdf;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    margin: auto;
    height: 30vh;
    background: #fff;
    min-height: 300px; }
    .center section > div {
      display: flex;
      justify-content: center;
      height: calc(100% - 4em);
      align-items: center;
      flex-direction: column; }
  .center p {
    margin: 0;
    padding: 0.5em;
    background: #e39959;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 2em;
    text-align: center; }

nav {
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #cccc; }
  nav .logo {
    height: 3em; }
  nav ul {
    display: flex; }
    nav ul > li {
      margin-left: 1.75em; }
    nav ul a:hover {
      border-bottom: 1px solid #333; }

.jumbo {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.17)), url(../imgs/homeImg.jpg) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-bottom: solid #e9e9e9; }
  .jumbo a {
    color: #f0d371; }
  .jumbo form {
    width: 50%;
    display: flex;
    justify-content: center; }
  .jumbo input {
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em 1.25em;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    border: 3px solid #e39959; }
  .jumbo h1 {
    font-size: 2em;
    margin: .67em 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }
  .jumbo p {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px; }

.aboutImg {
  font-family: Symbol;
  margin: auto;
  color: #e39959;
  font-size: 2em; }

.works {
  padding-top: 2em; }
  .works ul {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    text-align: center;
    flex-wrap: wrap; }
  .works li {
    flex: 1;
    margin: 0 20px;
    max-width: 25%; }

.sidebar {
  background: #fff;
  margin-top: 2em; }
  .sidebar input[type=checkbox] {
    margin: 0 10px; }
  .sidebar div {
    min-width: 160px;
    padding: 10px; }
  .sidebar h2 {
    font-size: 1em;
    position: relative; }
    .sidebar h2::after {
      content: "▼";
      position: absolute;
      right: 0;
      transition: 0.3s; }
    .sidebar h2.closed::after {
      transform: rotate(-180deg); }

.stars li {
  display: flex; }
  .stars li::after {
    flex: 1;
    content: " ";
    height: 1em;
    display: block;
    background-repeat: no-repeat; }

.rating {
  display: flex;
  height: 1em; }
  .rating img {
    width: 1em; }

.previewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.orangeBtn {
  color: #fff;
  flex-basis: 15%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e39959;
  border-bottom: solid #cd7c37; }

.smallText {
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 1.5px 10px; }

.medText, .skills li, .contractorContact li {
  color: #7f7f7f;
  margin: 0; }

.skills {
  display: flex; }
  .skills li {
    margin-right: 5px; }

.contractorContact {
  margin: 20px;
  margin-right: 0; }
  .contractorContact ul {
    margin: 0; }
  .contractorContact li:not(:last-child) {
    margin: 10px 0; }

.mainList h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
  color: #e39959; }
.mainList li {
  padding: 20px;
  background: #fff;
  margin-right: 0;
  margin-bottom: 1em; }
.mainList li > p {
  margin-bottom: 0.25rem; }

.stars li:nth-child(1)::after {
  background-image: url("../imgs/stars_5.svg"); }

.stars li:nth-child(2)::after {
  background-image: url("../imgs/stars_4.svg"); }

.stars li:nth-child(3)::after {
  background-image: url("../imgs/stars_3.svg"); }

.stars li:nth-child(4)::after {
  background-image: url("../imgs/stars_2.svg"); }

.stars li:nth-child(5)::after {
  background-image: url("../imgs/stars_1.svg"); }

.works li:nth-child(1) .aboutImg::before {
  content: ""; }

.works li:nth-child(2) .aboutImg::before {
  content: ""; }

.works li:nth-child(3) .aboutImg::before {
  content: ""; }

.listPage {
  padding: 2rem;
  background: #f3f3f3;
  height: 100%; }

.listPage {
  display: flex; }

header {
  display: flex;
  align-items: flex-end;
  margin-top: 3em; }
  header h1 {
    margin-bottom: 0; }
  header .orangeBtn {
    min-width: 12em; }

header h1, .reviews h1 {
  font-size: 3em; }

.reviews h1 {
  border-top: solid 2px #7f7f7f;
  margin-top: 0.5em;
  padding-top: 0.5em; }
.reviews li {
  padding: 20px;
  background: #f3f3f3;
  margin: 10px; }

.center .loginWrap {
  height: auto; }
  .center .loginWrap form {
    padding: 20px;
    padding-bottom: 0; }
    .center .loginWrap form input:not(.orangeBtn) {
      margin: 20px 0; }

@media screen and (max-width: 700px) {
  .center section {
    width: 95%; }

  .listPage {
    flex-direction: column; }

  .sidebar {
    display: flex;
    justify-content: center;
    margin: 10px; } }
@media screen and (max-height: 600px) {
  .listPage {
    height: auto; } }
@supports (display: grid) {
  .listPage {
    display: grid;
    grid-template-areas: "s c c c" "s c c c";
    grid-gap: 15px; }

  .mainList {
    grid-area: c; }

  @media screen and (max-width: 700px) {
    .sidebar {
      grid-area: s; }

    .listPage {
      grid-template-areas: "s s s s" "c c c c";
      grid-template-rows: auto 2fr;
      justify-content: center; } } }

/*# sourceMappingURL=style.css.map */
