@charset "UTF-8";
* {
  font-family: 'Roboto', sans-serif; }

body, html {
  height: 100%; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none;
  color: #000; }

nav {
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  nav .logo {
    height: 3em; }
  nav ul {
    display: flex; }
    nav ul > li {
      margin-left: 1.75em; }

.jumbo {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url(../imgs/homeImg.jpg) bottom;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-bottom: solid #e9e9e9; }
  .jumbo a {
    color: #f0d371; }
  .jumbo input {
    width: 100%;
    font-size: 2em;
    padding: 7px; }
  .jumbo h1 {
    font-size: 2em;
    margin: .67em 0;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); }
  .jumbo p {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px; }

.aboutImg {
  height: 8em;
  width: 8em;
  margin: auto;
  border-radius: 1em;
  background: #93abb8; }

.works {
  padding-top: 2em; }
  .works ul {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    text-align: center;
    flex-wrap: wrap; }
  .works li {
    flex: 1;
    margin: 0 20px; }

.sidebar {
  grid-area: s;
  background: #fff;
  margin-top: 2em; }
  .sidebar input[type=checkbox] {
    margin: 0 10px; }
  .sidebar div {
    min-width: 160px;
    padding: 10px; }
  .sidebar h2 {
    font-size: 1em;
    position: relative; }
    .sidebar h2::after {
      content: "▼";
      position: absolute;
      right: 0;
      transition: 0.3s; }
    .sidebar h2.closed::after {
      transform: rotate(-180deg); }

.stars li {
  display: flex; }
  .stars li::after {
    flex: 1;
    content: " ";
    height: 1em;
    display: block;
    background-repeat: no-repeat; }

.rating {
  display: flex;
  height: 1em; }
  .rating img {
    width: 1em; }

.previewHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .previewHeader > a {
    color: #fff;
    flex-basis: 15%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e39959;
    border-bottom: solid #cd7c37; }

.smallText {
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 0 10px; }

.medText {
  color: #7f7f7f;
  margin: 0; }

.mainList h2 {
  margin-top: 0;
  margin-bottom: 0.75em;
  color: #e39959; }

.mainList li {
  padding: 20px;
  background: #fff;
  margin-right: 0;
  margin-bottom: 1em; }

.mainList li > p {
  margin-bottom: 0.25rem; }

.stars li:nth-child(1)::after {
  background-image: url("../imgs/stars_5.svg"); }

.stars li:nth-child(2)::after {
  background-image: url("../imgs/stars_4.svg"); }

.stars li:nth-child(3)::after {
  background-image: url("../imgs/stars_3.svg"); }

.stars li:nth-child(4)::after {
  background-image: url("../imgs/stars_2.svg"); }

.stars li:nth-child(5)::after {
  background-image: url("../imgs/stars_1.svg"); }

.listPage {
  padding: 2rem;
  background: #f3f3f3;
  height: 100%; }

.listPage {
  display: flex; }

@media screen and (max-width: 700px) {
  .listPage {
    flex-direction: column; }
  .sidebar {
    display: flex;
    justify-content: center;
    margin: 10px; } }

@media screen and (max-height: 600px) {
  .listPage {
    height: auto; } }

@supports (display: grid) {
  .listPage {
    display: grid;
    grid-template-areas: "s c c c" "s c c c";
    grid-gap: 15px; }
  .sidebar {
    grid-area: s; }
  .mainList {
    grid-area: c; }
  @media screen and (max-width: 700px) {
    .listPage {
      grid-template-areas: "s s s s" "c c c c";
      grid-template-rows: auto 2fr;
      justify-content: center; } } }
