* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

nav {
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    height: 3em;
  }

  ul {
    display: flex;

    & > li {
      margin-left: 1em;
    }
  }
}

.jumbo {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.17), rgba(0, 0, 0, 0.17)), url(../imgs/homeImg.jpg) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-bottom: solid #e9e9e9;
  a {
    color: #f0d371;
  }
  input {
    width: 50%;
    font-size: 2em;
    padding: 7px;
  }
}

//linear-gradient(#ffffff2b, #ffffff2b), url(../imgs/homeImg.jpg) center

.aboutImg {
  height: 8em;
  width: 8em;
  margin: auto;
  border-radius: 1em;
  background: #93abb8;
}

.works {
  padding-top: 2em;
  ul {
    display: flex;
    justify-content: center;
    width: 85%;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
  }

  li {
    flex: 1;
    margin: 0 20px;
  }
}

.sidebar {
  grid-area: s;
  background: #fff;
  margin-top: 2em;
  input[type=checkbox] {
    margin: 0 10px;
  }
  div {
    min-width: 160px;
    padding: 10px;
  }
  h2 {
    font-size: 1em;
    position: relative;
    &::after {
      content: "▼";
      position: absolute;
      right: 0;
      transition: 1s;
    }
    &.closed::after {
      transform: rotate(-180deg);
    }
  }
}

.stars {
  li {
    display: flex;
    &::after {
      flex: 1;
      content: " ";
      height: 1em;
      display: block;
      background-repeat: no-repeat;
    }
  }
}

.rating {
  display: flex;
  height: 1em;
  img {
    width: 1em;
  }
}

.previewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  > a {
    color: #fff;
    flex-basis: 15%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e39959;
    border-bottom: solid #cd7c37;
  }
}

.smallText {
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 0 10px;
}

.medText {
  color: #7f7f7f;
  margin: 0;
}

.mainList {
  h2 {
    margin-bottom: 0;
    color: #e39959;
  }
  li {
    padding: 20px;
    background: #fff;
    margin-right: 0;
    margin-bottom: 1em;
  }
}

@for $i from 1 through 5 {
  .stars li:nth-child(#{$i})::after {
    $star: 6 - $i;
    background-image: url("../imgs/stars_" + $star +".svg");
  }
}

.listPage {
  padding: 2em;
  background: #f3f3f3;
  height: 100%;
}

.listPage {
  display: flex;
}

// .sidebar {
// }

// .mainList {
// }

@media screen and (max-width: 700px) {
  .listPage {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}

@media screen and (max-height: 600px) {
  .listPage {
    height: auto;
  }

}

@supports (display: grid) {
  .listPage {
    display: grid;
    grid-template-areas: "s c c c" "s c c c";
    grid-gap: 15px;
  }

  .sidebar {
    grid-area: s;
  }

  .mainList {
    grid-area: c;
  }

  @media screen and (max-width: 700px) {
    .listPage {
      grid-template-areas: "s s s s" "c c c c";
      grid-template-rows: auto 2fr;
      justify-content: center;
    }
  }
}

