@font-face {
  font-family: symbol;
  src: url(../font/symbols.woff);
}

$symList: '\F0A3', '\E803', '\F164';

* {
  font-family: 'Roboto', sans-serif;
}

body, html {
  height: 100%;
  background: #f3f3f3;
}

ul {
  list-style: none;
  padding: 0;
}

header, .reviews {
  width: 85%;
  margin: auto;
  padding: 20px;
  background: #fff;
  max-width: 1700px;
}

a {
  text-decoration: none;
  color: #000;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset;
}

.mainList .contract {
  h2 {
    margin-bottom: 0.2em;
  }
}

.center {
  height: calc(100% - 7em);
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    text-align: center;
    color: #7f7f7f;
    a {
      color: #e39959;
    }
  }
  form {
    width: 95%;
    margin: 0 auto;
    input {
      width: 100%;
      margin: 10px 0;
      border: 0;
      font-size: 1.1em;
      &:not([type=submit]) {
        border-bottom: solid 2px #f3f3f3;
      }
      &.orangeBtn {
        border-bottom: solid #cd7c37;
        width: 40%;
        margin: 5px auto;
      }
    }
  }
  section {
    max-width: 600px;
    box-shadow: 0 0 2px #dfdfdf;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 50%;
    margin: auto;
    height: 30vh;
    background: #fff;
    min-height: 300px;
    > div {
      display: flex;
      justify-content: center;
      height: calc(100% - 4em);
      align-items: center;
      flex-direction: column;
    }
  }

  p {
    margin: 0;
    padding: 0.5em;
    background: #e39959;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #fff;
    font-size: 2em;
    text-align: center;
  }
}

nav {
  padding: 0.5em 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  border-bottom: 1px solid #cccc;
  .logo {
    height: 3em;
  }

  ul {
    display: flex;

    & > li {
      margin-left: 1.75em;
    }

    a:hover {
      border-bottom: 1px solid #333;
    }
  }
}

.jumbo {
  height: 60vh;
  background: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.17)), url(../imgs/homeImg.jpg) center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  border-bottom: solid #e9e9e9;
  a {
    color: #f0d371;
  }
  form {
    width: 50%;
    display: flex;
    justify-content: center;
  }
  input {
    width: 100%;
    font-size: 1.5em;
    padding: 0.5em 1.25em;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 60px;
    border: 3px solid #e39959;
  }

  h1 {
    font-size: 2em;
    margin: .67em 0;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  }

  p {
    padding: 0.5em 1em;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
  }
}

.aboutImg {
  font-family: Symbol;
  margin: auto;
  color: #e39959;
  font-size: 2em;
}

.works {
  padding-top: 2em;
  ul {
    display: flex;
    justify-content: space-around;
    width: 85%;
    margin: auto;
    text-align: center;
    flex-wrap: wrap;
  }

  li {
    flex: 1;
    margin: 0 20px;
    max-width: 25%;
  }
}

.sidebar {
  background: #fff;
  margin-top: 2em;
  input[type=checkbox] {
    margin: 0 10px;
  }
  div {
    min-width: 160px;
    padding: 10px;
  }
  h2 {
    font-size: 1em;
    position: relative;
    &::after {
      content: "▼";
      position: absolute;
      right: 0;
      transition: 0.3s;
    }
    &.closed::after {
      transform: rotate(-180deg);
    }
  }
}

.stars {
  li {
    display: flex;
    &::after {
      flex: 1;
      content: " ";
      height: 1em;
      display: block;
      background-repeat: no-repeat;
    }
  }
}

.rating {
  display: flex;
  height: 1em;
  img {
    width: 1em;
  }
}

.previewHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orangeBtn {
  color: #fff;
  flex-basis: 15%;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e39959;
  border-bottom: solid #cd7c37;
  //=======
  //  align-items: flex-start;
  //  > a {
  //    color: #fff;
  //    flex-basis: 15%;
  //    height: 2em;
  //    display: flex;
  //    justify-content: center;
  //    align-items: center;
  //    background: #e39959;
  //    border-bottom: solid #cd7c37;
  //  }
  //>>>>>>> 278a6b1c7be5738c1985ed89e1ebb42d8b8159a1
}

.smallText {
  font-size: 0.8em;
  color: #7f7f7f;
  margin: 1.5px 10px;
}

.medText {
  color: #7f7f7f;
  margin: 0;
}

.skills {
  display: flex;
  li {
    @extend .medText;
    margin-right: 5px;
  }
}

.contractorContact {
  margin: 20px;
  margin-right: 0;
  ul {
    margin: 0;
  }
  li {
    @extend .medText;
    &:not(:last-child) {
      margin: 10px 0;
    }
  }
}

.mainList {
  h2 {
    margin-top: 0;
    margin-bottom: 0.75em;
    color: #e39959;
  }
  li {
    padding: 20px;
    background: #fff;
    margin-right: 0;
    margin-bottom: 1em;
  }

  li > p {
    margin-bottom: 0.25rem;
  }
}

@for $i from 1 through 5 {
  .stars li:nth-child(#{$i})::after {
    $star: 6 - $i;
    background-image: url("../imgs/stars_" + $star +".svg");
  }
}

@for $i from 1 through 3 {
  .works li:nth-child(#{$i}) .aboutImg::before {
    content: nth($symList, $i);
  }
}

.listPage {
  padding: 2rem;
  background: #f3f3f3;
  height: 100%;
}

.listPage {
  display: flex;
}

header {
  display: flex;
  align-items: flex-end;
  margin-top: 3em;
  h1 {
    margin-bottom: 0;
  }
  .orangeBtn {
    min-width: 12em;
  }
}

header h1, .reviews h1 {
  font-size: 3em;
}

.reviews {
  h1 {
    border-top: solid 2px #7f7f7f;
    margin-top: 0.5em;
    padding-top: 0.5em;
  }
  li {
    padding: 20px;
    background: #f3f3f3;
    margin: 10px;
  }
}

.center .loginWrap {
  text-align: center;
  height: auto;
  padding-bottom: 10px;
  form {
    padding: 20px;
    padding-bottom: 0;
    input:not(.orangeBtn) {
      margin: 20px 0;
    }
  }
}

@media screen and (max-width: 700px) {
  .center section {
    width: 95%;
  }
  .listPage {
    flex-direction: column;
  }
  .sidebar {
    display: flex;
    justify-content: center;
    margin: 10px;
  }
}

@media screen and (max-height: 600px) {
  .listPage {
    height: auto;
  }

}

@supports (display: grid) {
  .listPage {
    display: grid;
    grid-template-areas: "s c c c" "s c c c";
    grid-gap: 15px;
  }

  .mainList {
    grid-area: c;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      grid-area: s;
    }
    .listPage {
      grid-template-areas: "s s s s" "c c c c";
      grid-template-rows: auto 2fr;
      justify-content: center;
    }
  }
}

