<div>
    <label for="username">Username:</label>
    <br>
    <input type="text" id="username" name="username">
</div>

<div>
    <label for="email">Email:</label>
    <br>
    <input type="email" id="email" name="email">
</div>

<div>
    <label for="first_name">First Name</label>
    <br>
    <input type="text" id="first_name" name="first_name">
</div>

<div>
    <label for="last_name">Last Name</label>
    <br>
    <input type="text" id="last_name" name="last_name">
</div>

<div>
    <label for="password1">Password:</label>
    <br>
    <input type="password" id="password1" name="password1">
</div>

<div>
    <label for="password2">Confirm Password:</label>
    <br>
    <input type="password" id="password2" name="password2">
</div>
