{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADU Hack</title>
    <meta name="description" content="Description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block stylesheets %}{% endblock stylesheets %}
</head>
<body>
{% include 'partials/_navbar.html' %}
{% block content %}{% endblock content %}
{% block scripts %}{% endblock scripts %}
</body>
</html>