{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="mainContent listPage">
    <aside class="sidebar">
        <div class="services">
            <h2 class="expand">Filter Services</h2>
            <ul>
                {% for service in services %}
                    <li><input type="checkbox" value="{{ service.name }}">{{ service.name }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <h2 class="expand">Filter Stars</h2>
            <ul class="stars">
                <li><input type="checkbox" name="fiveStar"></li>
                <li><input type="checkbox" name="fourStar"></li>
                <li><input type="checkbox" name="threeStar"></li>
                <li><input type="checkbox" name="twoStar"></li>
                <li><input type="checkbox" name="oneStar"></li>
            </ul>
        </div>
    </aside>

    <section class="mainList">
        {% for contractor in contractors %}
            {{ contractor.name }}
        {% endfor %}
        <p class="smallText">562 search results</p>
        <ul>
            <li>
                <div class="previewHeader">
                    <div>
                        <a><h2>Smith Jones</h2></a>
                        <div class="rating">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/empty_star.svg' %}">
                            <img src="{% static 'imgs/empty_star.svg' %}">
                        </div>
                    </div>
                    <a href="#">Contact</a>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunut aliquip
                    ex ea commodo consequat...</p>
            </li>
            <li>
                <div class="previewHeader">
                    <div>
                        <a><h2>Smith Jones</h2></a>
                        <div class="rating">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/empty_star.svg' %}">
                            <img src="{% static 'imgs/empty_star.svg' %}">
                        </div>
                    </div>
                    <a href="#">Contact</a>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunut aliquip
                    ex ea commodo consequat...</p>
            </li>
            <li>
                <div class="previewHeader">
                    <div>
                        <a><h2>Smith Jones</h2></a>
                        <div class="rating">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/filled_star.svg' %}">
                            <img src="{% static 'imgs/empty_star.svg' %}">
                            <img src="{% static 'imgs/empty_star.svg' %}">
                        </div>
                    </div>
                    <a href="#">Contact</a>
                </div>
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunut aliquip
                    ex ea commodo consequat...</p>
            </li>
        </ul>
    </section>

</div>
{% endblock content %}

{% block scripts %}
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

<script>
    $('.expand').click(function () {
        $(this).next().slideToggle(250)
        $(this).toggleClass('closed')
    });
</script>
{% endblock scripts %}